In [1]:
## Reference : https://www.surgehq.ai/blog/inter-rater-reliability-metrics-an-introduction-to-krippendorffs-alpha
## Reference : https://real-statistics.com/reliability/interrater-reliability/krippendorffs-alpha/krippendorffs-alpha-basic-concepts/
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('Submission/hundred_comments_final.csv')

In [3]:
data = df[['ID','Text','Student_1 (Rakesh)','Student_2 (Aamod)','Student_3 (Dhruv)']]

In [4]:
data

,ID,Text,Student_1 (Rakesh),Student_2 (Aamod),Student_3 (Dhruv)
0,jkb0xuj,"Haha thanks,",Positive,Positive,Positive
1,jno5mjc,Fr yeah that would be good for a change,Positive,Positive,Neutral
2,jpy906z,Ty so much. It sounds like a lot to do and enj...,Positive,Positive,Positive
3,js2patg,"This got a lot of comments, that's a good start.",Positive,Positive,Positive
4,jrzz8h8,Where can you find the best burgers in maldives?,Neutral,Neutral,Neutral
...,...,...,...,...,...
95,jrxquk2,I know of four and am part one two. It's one o...,Neutral,Neutral,Negative
96,js351pn,what do you do for work ??,Neutral,Neutral,Neutral
97,jrxx1jy,Let's get you aquatinted,Negative,Positive,Positive
98,jryqr05,I would like that,Neutral,Positive,Positive
99,js1sf11,is there a country that let's you marry a beef...,Neutral,Neutral,Neutral

In [5]:
### pi = (1/(r_bar(ri - 1)))*{Summation k = 1 to 3 (since pos,neg,neu)}[rik(rik*-1)]

### pa* = (1/n){summation i=1 to n}[pi]

### where i = rows ; n = total no. of rows

### epsilon = 1/(n*r_bar)

In [6]:
## k = kth label ie 0 = pos ; 1 = neg ; 2 = neu

In [7]:
def label_name(x):
    if x == "Positive":
        return 0
    elif x == "Negative":
        return 1
    elif x == "Neutral":
        return 2
    else:
        print("Error Wrong Label by Reviewer")
        return 2

In [8]:
## pi implementation
pi_sum = 0.0
rik1 = [0]*len(data)
rik2 = [0]*len(data)
rik3 = [0]*len(data)
for i in range(0,len(data)):
    arr_label = [0] * 3
    for k in range(2,5):
        arr_label[label_name(data.iloc[i,k])] += 1
    
    rik1[i] = arr_label[0]**2 - arr_label[0]
    rik2[i] = arr_label[1]**2 - arr_label[1]
    rik3[i] = arr_label[2]**2 - arr_label[2]
    rik = rik1[i] + rik2[i] + rik3[i]

    ### 1/6 since [r_bar = ri = 3]
    pi = rik/6
    pi_sum += pi

In [9]:
pa_star = pi_sum/len(data)
print("Pa* = " + str(pa_star))

Pa* = 0.6266666666666673

In [10]:
epsilon = 1/(3*len(data))
print("Epsilon = " + str(epsilon))

Epsilon = 0.0033333333333333335

In [11]:
pa = pa_star*(1-epsilon) + epsilon
print("Pa = " + str(pa))

Pa = 0.6279111111111116

In [12]:
### pi_k = epsilon * sumation{ i = 1 to n}[rik]

### pi_h = sumation{h,k}[w_hk * pi_h * pi_k]

### pe = pi_0 ** 2 + pi_1 ** 2 + pi_2 ** 2

In [13]:
pe = 0
pe += (epsilon * np.sum(rik1))**2
pe += (epsilon * np.sum(rik2))**2
pe += (epsilon * np.sum(rik3))**2

print("Pe = " + str(pe))

Pe = 0.5622222222222223

In [14]:
alpha = (pa - pe)/(1 - pe)
print("Alpha = " + str(alpha))

Alpha = 0.15005076142132087